*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.nav {
    background-color: #333;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_nav img{
    height: 150%;
    width: 120%;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
}

.nav_el {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.log_in_nav {
    width: 90px;
    height: 45px;
    background-color: #333;
    border-width: 2px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 24px;
    margin-right: 10px;
}

.sign_in_nav {
    width: 90px;
    height: 45px;
    background-color: #333;
    border-width: 2px;
    border-color: #73FF6B;
    color: #73FF6B;
    border-radius: 5px;
    font-size: 24px;
}

.home_page {
    width: 100%;
    height: 90vh;

    display: flex;

}

.welcome_page {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.welcome_content {
    height: 50%;
    margin-left: 100px;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome_content h1 {
    font-size: 75px;
}

.green_small_circle {
    width: 15px;
    height: 15px;
    background-color: #73FF6B;
    border-radius: 100%;
}

.perm_home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.perm_home h3 {
    margin-left: 10px;
}

.start_up {
    width: 200px;
    height: 50px;
    background-color: #73FF6B;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
}

.start_up a {
    text-decoration: none;
    color: #fff;
}

.card_page_home {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card_standart_home {
    z-index: 3;
    width: 100%;
    height: 100%;
}

.news_page {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 100px;
}

.news_label {
    text-align: center;
    padding-bottom: 100px;
}


.our_cards_page {
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cards_list_page {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50vh;
    background-color: #333;
}

.logo_footer {
    width: 33%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.suported_by {
    width: 33%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.contacts {
    width: 33%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.footer_title {
    color: white;
}

#form_card {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form_bg {
    width: 50%;
    margin: auto;
    display: block;
}

.rotatable {
    transition: transform 0.5s ease;
}

.rotatable:hover {
    transform: rotate(5deg);
}

.our_team {
    width: 100%;
    height: 80vh;
    margin-bottom: 200px;
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners_company {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner_icon {
    width: 60%;
    height: 60%;
}

.derector_company img {
    width: 300px;
    height: 300px;
}

.derector_company {
    width: 300px;
    height: 300px;

    width: 100%;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
}